{% extends 'blog/base.html' %}
 
{% block title %}Clean Blog - Sample Post{% endblock %}

{% block head %}
    <script type="text/javascript">
        $(function(){
            $('.summernote').summernote({
            height: 200
        });
        $('form').on('submit', function (e) {
            e.preventDefault();
            alert($('.summernote').code());
            });
        });
    </script>
{% endblock %}

{% block content %}
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/static/img/post-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ blog.title }}</h1>
                        <!-- <h2 class="subheading">Problems look mighty small from 150 miles up</h2> -->
                        <span class="meta">Posted by <a href="#">{{ blog.author }}</a> on {{ blog.publish_time }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ blog.content|safe|linebreaksbr }}
                </div>
            </div>
        </div>
    </article>

    <hr>
{% endblock %}